@charset "UTF-8";
body {
    background-color: rgb(230, 85, 85);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: darkred;
    background-color: darkgreen;
}
h2 {
    color: darkblue;
}
p {
    text-align: justify;
}